.item-detail {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__edit {
    color: white;
  }
  &__edit-wrapper {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #2e66e5;
    border-radius: 1.25rem;
  }
}
