@mixin button-styles {
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  font-family: "Titillium-Web";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}
