
$colour-primary-InstockBlack: #13182C;
$colour-primary-InstockIndigo: #2E66E5;
$colour-primary-White: #FFFFFF;

$colour-secondary-Slate: #5C667E;
$colour-secondary-Cloud: #BDC5D5;

$colour-background-Graphite: #232940;
$colour-background-LightGrey: #F7F8F9;

$colour-supporting-Green: #158463;
$colour-supporting-Red:#C94515;
