$colour-primary-InstockBlack: #13182c;
$colour-primary-InstockIndigo: #2e66e5;
$colour-primary-White: #ffffff;

$colour-secondary-Slate: #5c667e;
$colour-secondary-Cloud: #bdc5d5;

$colour-background-Graphite: #232940;
$colour-background-LightGrey: #f7f8f9;

$colour-supporting-Green: #158463;
$colour-supporting-Red: #c94515;
