
// THIS IS A PLACEHOLDER ONLY - IT IS DISCONNECTED FROM OTHER SCSS FILES

@font-face {
    font-family: "Avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
     font-family: "AvenirAlt";
     src: url("../../assets/Font/AvenirNextLTPro.ttf") format("opentype");
     font-weight: 400;
 }
 

 @font-face {
     font-family: "AvenirAlt";
     src: url("../../assets/Font/AvenirNextLTProBold.ttf") format("opentype");
     font-weight: 700;
 }
 

