
// THIS IS A PLACEHOLDER ONLY - IT IS DISCONNECTED FROM OTHER SCSS FILES

@font-face {
    font-family: "Titilium-Web";
    src: url("../../assets/Fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Titilium-Web";
    src: url("../../assets/Fonts/TitilliumWeb-Bold.ttf") format("truetype");
    font-weight: 700;
}

// @font-face {
//      font-family: "Titilium-Web";
//      src: url("") format("opentype");
//      font-weight: 400;
//  }
 

//  @font-face {
//      font-family: "Titilium-Web";
//      src: url("") format("opentype");
//      font-weight: 700;
//  }
 

