@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__search {
        width: 100%;
        padding: .7rem;
        border-radius: 20px;
        margin-bottom: 10px;

        @include tablet {
            width: 185px;
            height: 38px;
        }

    }

    &__button {
        width: 100%;
        padding: .7rem;
        border-radius: 20px;

        @include tablet {

            width: 10rem;
            height: 38px;
            margin-left: 1rem;
        }

    }

    border-radius: 20px;
}