.warehouse-inventory {
  .warehouse-inventory__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__action-container {
    display: flex;
    justify-content: space-between;
  }
}
