.warehouse-card {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-top: 2px solid gray;

  &__left,
  &__right {
    margin-right: 1rem;
  }
}

// SVT3-33 DIVING DEEPER STYLING
// .warehouse-card__arrow {
//   width: 20px;
//   height: 20px;
//   flex-shrink: 0;
//   margin-left: 4px; 
//   transition: margin-left 0.3s ease; 
//   transform: translateY(2px); 
// }


//  .warehouse-card__arrow {
//   margin-left: 8px; 
// }
