@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-card {
  font-size: 0.8125rem;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #bdc5d5;

  &__left,
  &__right {
    margin-right: 1rem;
  }

  &__left {
    &-top,
    &-bottom {
      margin-bottom: 1rem;
    }
  }

  &__right {
    &-top,
    &-bottom {
      margin-bottom: 1rem;
    }
  }

  &__text--link {
    text-decoration: none;
    color: #2e66e5;
    display: flex;
  }

  &__label {
    color: #5c667e;
  }

  &__edit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
