@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-inventory-card {
  padding: 1rem;
  @include tablet {
    width: 100%;
    padding: 1rem;
    display: flex;

    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    @include tablet {
      width: 100%;
      display: flex;
    }
  }

  &__container-left,
  &__container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__container-left {
    height: 140px;
  }

  &__container-right {
    padding-left: 3rem;
  }

  &__item-container,
  &__category-container {
    padding-bottom: 1rem;
  }

  &__txt {
    display: flex;
    align-items: center;
  }

  &__label {
    color: #5c667e;
    font-weight: 500;
  }

  &__stock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    padding: 0.4rem;
    width: max-content;

    &--instock {
      background-color: rgba(21, 132, 99, 0.07);
    }

    &--outstock {
      background-color: rgba(201, 69, 21, 0.07);
    }
  }

  &__text {
    width: auto;
    margin: 0;

    &--instock {
      color: #158463;
    }

    &--outstock {
      color: #c94515;
    }
  }

  &__action-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: start;
      padding: 0;
    }
  }
  &__icon--edit {
    @include tablet {
      padding-left: 1rem;
    }
  }
}

@include tablet {
  .warehouse-inventory-card__detail--mobile {
    display: none;
  }
}
