@use "../../styles/partials/colors" as *;

.footer {
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 0 0 3rem 0;
  background-color: $colour-background-LightGrey;
  bottom: 3.875rem;
  position: relative;
}
