@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/colors' as *;
@use './../../styles/partials/buttons' as *;

.warehouse{
    
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(105, 101, 101, 0.19);
    
    // @include tablet{
    //     padding: 0 1.5rem;
    // }
    // @include desktop{
    //     padding: 0 1.5rem;
    // }
    
    &__header{
        border-bottom: 1px solid $colour-secondary-Cloud;
        height: 80px;
    }
    &__arrow-link{
        display: flex;
        text-decoration: none;
        color: $colour-primary-InstockBlack;
        justify-content: flex-start;
        width: 100%;
        margin: 1rem 0;
        padding-left: 2rem;
        padding-top: 1.5rem;
        
        @include tablet{
            justify-content: left;
            padding-top: 0.6rem;
        }
    }
    &__header-title{
        margin: 0;
        padding: 0;
        width: 270px;
        height: 36px;
        font-weight: 600;
        @include tablet{
            margin: 1rem 0;
        }
        @include desktop{
            margin: 1rem 0;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
        }

    }
    &__details{

        padding-left: 2rem;
        
        @include tablet{
            flex-direction: row;
            border-bottom: none;
            width: 50%;
        }
        
    }
    &__sub-header{
        width: 180px;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    &__lbl{
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
    }
    &__form-input{
        height: 38px;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid $colour-secondary-Cloud;
        padding-left: 1rem;

        &--invalid{
            border-color: $colour-supporting-Red;
        }
        &:active{
            border-color: $colour-primary-InstockIndigo;
        }
        &:focus{
            border-color: $colour-secondary-Cloud;
        }

        @include tablet{
            width: 100%;
        }

        @include desktop{
            width: 100%;
        }
    }
    &__button-pannel{
        padding: 1rem;
        background-color: $colour-background-LightGrey;
        display: flex;
        width:100%;

        
        @include tablet{
            flex-direction: row;
            justify-content: right;
        }
    }

    &__btn-add{
       @include button-styles;
        border: none;
        font-weight: 400;
        background: #2E66E5;
        width: 139px;
        height: 36px;
        &:hover {
            background: #232940;
        }

        @include tablet{
            height: 38px
        }
    }
    &__btn-cancel{
        @include button-styles;
        border: 1px solid #BDC5D5;
        background: #FFF;
        color: #5C667E;
        font-weight: 400;
        width: auto;
        height: 36px;
        @include tablet{
            height: 38px
        }
    
        &:hover {
            background: #FFF;
            color: #2E66E5;
        }
    }
    &__vertical-line{
        border-bottom: 1px solid $colour-secondary-Cloud;
        @include tablet{
            margin: 1rem 1rem;
            height: 340px;
            border-right: 1px solid $colour-secondary-Cloud;
        }
        @include desktop{
            margin: 1rem 1rem;
            height: 340px;
            border-right: 1px solid $colour-secondary-Cloud;
        }
    }
}

