@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/buttons" as *;

* {
    box-sizing: border-box;
}

.Test {

   list-style: none;
   text-decoration: none;
}

.nav{
    width: 100%;
    background-color: #232940;
    height: 136px;

    @include tablet {
        display: flex;
        justify-content: flex-start;
        width:auto;
        height: 92px;
    }

    @include desktop {
        display: flex;
    }

    @include bigdesktop {
        display: flex;
    }

    &__box {
        display: flex;
        justify-content: center;
       
        height: 4.5rem;
        width: 100%;

        @include tablet {
            height: 80px;
            width: 200px;
          
        }

    }

    &__logo {
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.6rem;
        font-weight: 100;
        margin-top: 2rem;
        height:30px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
  

        @include tablet {
            margin-left: 40vw;
            line-height: 80px;
        
        }
    }



    &__block {
        display: flex;
        justify-content: center;
        margin-left: 1rem;

    }

&__button {

width: 107px;
height: 38px;
flex-shrink: 0;

color: #BDC5D5;
font-family: "Titillium-Web";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px;

border:none;
border-radius: 20px;
background-color: transparent;
   
&:active {
    background: #13182C;
    color: #FFF;
}

&:focus {
    background-color: #13182C;
    color: #FFF;
}


&:hover {
         text-decoration: underline;
         color: #FFF;
         }


}
     
  


  &__img {
    height: 30px;
    width:32px;
    border-radius: 50%;}



  }
      





