@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

body {
  font-family: "Titillium-Web";
}

.app {
  &__content {
    position: relative;
    // border: 1px dashed red;
    border-radius: 3px;
    background-color: white;
    width: 95%;
    top: -3.125rem;
    @include tablet {
      width: 95%;
      top: -5.625rem;
    }
    @include desktop {
      width: 70%;
      top: -5.625rem;
    }
    &-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f8f9;
    }
  }
}
